body {
    header {
        min-height: 10vh;
    }

    main {
        min-height: 80vh;

        #login {
            max-width: 450px;
            background-color: #eee;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 7px;

        }
    }

    footer {
        min-height: 10vh;
    }
}